<div>
  <form *ngIf="typing" class="text-field">
    <label #label class="mb-item-spacing" for="textarea"
      >Todoを入力してください</label
    >
    <textarea
      #textArea
      name="todo"
      id="textarea"
      class="focusable mb-item-spacing"
      rows="5"
      [(ngModel)]="todo"
    ></textarea>
    <div>
      <button
        class="focusable box-button inverted mr-item-spacing"
        type="submit"
        (click)="add()"
      >
        追加
      </button>
      <button
        class="focusable box-button normal"
        type="button"
        (click)="cancel()"
      >
        キャンセル
      </button>
    </div>
  </form>
  <div *ngIf="!typing" (click)="startTyping()">
    <button
      class="focusable rounded-button"
      aria-labelledby="button-label"
      type="button"
    >
      +
    </button>
    <span id="button-label">Todoを追加する</span>
  </div>
</div>
