:root {
  --item-spacing: 0.5rem;
  --group-spacing: 2rem;
  --section-spacing: 4rem;
  --primary: #141414;
  --secondary: #f9f9f9;
  --accent: #ff2700;
}
// #region font-family
body :not(p, p > *) {
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}
p {
  font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝",
    "MS PMincho", serif;
}
// #endregion

// #region line-height/font-weight
body :not(h1, h2, h3, p, p > *) {
  font-weight: 300;
  line-height: 1.2;
}
p {
  font-weight: 300;
  line-height: 1.5;
}
h1,
h2,
h3 {
  line-height: 1.5;
  font-weight: 700;
}
// #endregion

// #region font-size
html {
  font-size: 100%;
}
body :not(h1, h2, h3) {
  font-size: 1rem;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.important {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: 700;
}
// #endregion

// #region spacing
.mb-item-spacing {
  margin-bottom: var(--item-spacing);
}
.mb-group-spacing {
  margin-bottom: var(--group-spacing);
}
.mb-section-spacing {
  margin-bottom: var(--section-spacing);
}
.pb-item-spacing {
  padding-bottom: var(--item-spacing);
}

.mr-item-spacing {
  margin-right: var(--item-spacing);
}
.pr-item-spacing {
  padding-right: var(--item-spacing);
}

// 残りは順次必要になった組み合わせから追加
.pt-item-spacing {
  padding-top: var(--item-spacing);
}
.pl-item-spacing {
  padding-left: var(--item-spacing);
}
// #endregion

// #region color
html {
  background-color: var(--secondary);
  color: var(--primary);
}
.normal {
  color: var(--primary);
  background-color: var(--secondary);
}
.inverted {
  color: var(--secondary);
  background-color: var(--primary);
}
// #endregion

// #region focus ring
@mixin outline($color) {
  outline: 4px dashed $color;
  outline-offset: 2px;
}
.focusable:focus {
  @include outline(var(--primary));
}
.focusable-inverted:focus {
  @include outline(var(--secondary));
}
// #endregion
